.bg-success {
    background-color: #28a745 !important;
  }

  a.bg-success:hover, a.bg-success:focus,
  button.bg-success:hover,
  button.bg-success:focus {
    background-color: #1e7e34 !important;
  }

  .bg-success > .card-header .btn-tool,
.bg-gradient-success > .card-header .btn-tool,
.card-success:not(.card-outline) > .card-header .btn-tool {
  color: rgba(255, 255, 255, 0.8);
}

.bg-success > .card-header .btn-tool:hover,
.bg-gradient-success > .card-header .btn-tool:hover,
.card-success:not(.card-outline) > .card-header .btn-tool:hover {
  color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget .table td,
.card.bg-success .bootstrap-datetimepicker-widget .table th,
.card.bg-gradient-success .bootstrap-datetimepicker-widget .table td,
.card.bg-gradient-success .bootstrap-datetimepicker-widget .table th {
  border: none;
}

.card.bg-success .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.second:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.second:hover {
  background-color: #208637;
  color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget table td.today::before,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: #fff;
}

.modal-body {
  max-height: 400px; /* Adjust the maximum height as needed */
  overflow-y: auto;
}


.card.bg-success .bootstrap-datetimepicker-widget table td.active,
.card.bg-success .bootstrap-datetimepicker-widget table td.active:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.active,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #34ce57;
  color: #fff;
}

.bg-success > .card-header .btn-tool,
.bg-gradient-success > .card-header .btn-tool,
.card-success:not(.card-outline) > .card-header .btn-tool {
  color: rgba(255, 255, 255, 0.8);
}

.bg-success > .card-header .btn-tool:hover,
.bg-gradient-success > .card-header .btn-tool:hover,
.card-success:not(.card-outline) > .card-header .btn-tool:hover {
  color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget .table td,
.card.bg-success .bootstrap-datetimepicker-widget .table th,
.card.bg-gradient-success .bootstrap-datetimepicker-widget .table td,
.card.bg-gradient-success .bootstrap-datetimepicker-widget .table th {
  border: none;
}

.card.bg-success .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.second:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.second:hover {
  background-color: #208637;
  color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget table td.today::before,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget table td.active,
.card.bg-success .bootstrap-datetimepicker-widget table td.active:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.active,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #34ce57;
  color: #fff;
}

.bg-success > .card-header .btn-tool,
.bg-gradient-success > .card-header .btn-tool,
.card-success:not(.card-outline) > .card-header .btn-tool {
  color: rgba(255, 255, 255, 0.8);
}

.bg-success > .card-header .btn-tool:hover,
.bg-gradient-success > .card-header .btn-tool:hover,
.card-success:not(.card-outline) > .card-header .btn-tool:hover {
  color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget .table td,
.card.bg-success .bootstrap-datetimepicker-widget .table th,
.card.bg-gradient-success .bootstrap-datetimepicker-widget .table td,
.card.bg-gradient-success .bootstrap-datetimepicker-widget .table th {
  border: none;
}

.card.bg-success .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.second:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.second:hover {
  background-color: #208637;
  color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget table td.today::before,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget table td.active,
.card.bg-success .bootstrap-datetimepicker-widget table td.active:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.active,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #34ce57;
  color: #fff;
}

/* Add this CSS to make it a horizontal line of selection */
.fc-color-picker {
  list-style: none; /* Remove bullet points */
  display: flex;    /* Make it a horizontal flex container */
  padding: 0;       /* Remove padding */
}

.fc-color-picker li {
  margin-right: 10px; /* Add some spacing between color options */
}

/* Style for the title */
.event-item {
  background-color: #f5f5f5; /* Background color for each event item */
  border-radius: 10px; /* Rounded border */
  padding: 10px; /* Add padding to the event item */
  margin: 10px 0; /* Add spacing between event items */
}

.event-title {
  color: black; /* Set the title color to black */
  font-weight: bold; /* Make the title bold */
  font-size: larger; /* Increase the font size */
  margin-top: 3px; /* Add some spacing at the top of the title */
}

/* Style for the other details */
.event-detail {
  color: #888; /* Set a greyish color for other details */
  list-style-type: none; /* Remove bullet points for list items */
  margin-bottom: 1px; /* Add some spacing between details */
}

/* Define styles for presentation events */
/* .presentation-event .fc-event-main {
  background-color: blue;
  border-color: blue;
} */

/* Define styles for thesis events */
.thesis-event .fc-event-main {
  /* background-color: rgb(227, 193, 81);
  border-color: rgb(227, 193, 81); */
}

/* Hide the default dot */
/* .fc-event-dot {
  display: none;
} */

/* Define styles for presentation events */
/* .presentation-event {
  position: relative;
} */

/* .presentation-event:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgb(39, 139, 253);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
} */

/* Define styles for thesis events -- in dots de*/
/* .thesis-event {
  position: relative;
}

.thesis-event:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgb(227, 193, 81);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
} */

/* Define THE BACKGROUD COLOUR for presentation events */
.presentation-event  {
  /* background-color: rgb(246, 226, 42); */
}

/* Define styles for thesis events */
.thesis-event {
  background-color: rgb(210, 255, 210);  /* Set the desired background color */
  color: #000;
}

.fc-v-event.form-event .fc-event-main{
color: black;
}

.fc-event-title {
  color: black;
}

.fc-event-time {
  color: black;
}

/* card pres sche */
.file-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically in the center */
}

.file-link {
  margin-right: 10px; /* Add some right margin to the link */
  font-size: 16px; /* Adjust the font size as needed */
  align-items: center;
}

.remove-button {
  font-size: 14px; /* Adjust the font size as needed */
}