.bg-success {
    background-color: #28a745 !important;
  }

  a.bg-success:hover, a.bg-success:focus,
  button.bg-success:hover,
  button.bg-success:focus {
    background-color: #1e7e34 !important;
  }

  .bg-success > .card-header .btn-tool,
.bg-gradient-success > .card-header .btn-tool,
.card-success:not(.card-outline) > .card-header .btn-tool {
  color: rgba(255, 255, 255, 0.8);
}

.bg-success > .card-header .btn-tool:hover,
.bg-gradient-success > .card-header .btn-tool:hover,
.card-success:not(.card-outline) > .card-header .btn-tool:hover {
  color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget .table td,
.card.bg-success .bootstrap-datetimepicker-widget .table th,
.card.bg-gradient-success .bootstrap-datetimepicker-widget .table td,
.card.bg-gradient-success .bootstrap-datetimepicker-widget .table th {
  border: none;
}

.card.bg-success .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.second:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.second:hover {
  background-color: #208637;
  color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget table td.today::before,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: #fff;
}

.modal-body {
  max-height: 400px; /* Adjust the maximum height as needed */
  overflow-y: auto;
}


.card.bg-success .bootstrap-datetimepicker-widget table td.active,
.card.bg-success .bootstrap-datetimepicker-widget table td.active:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.active,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #34ce57;
  color: #fff;
}

.bg-success > .card-header .btn-tool,
.bg-gradient-success > .card-header .btn-tool,
.card-success:not(.card-outline) > .card-header .btn-tool {
  color: rgba(255, 255, 255, 0.8);
}

.bg-success > .card-header .btn-tool:hover,
.bg-gradient-success > .card-header .btn-tool:hover,
.card-success:not(.card-outline) > .card-header .btn-tool:hover {
  color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget .table td,
.card.bg-success .bootstrap-datetimepicker-widget .table th,
.card.bg-gradient-success .bootstrap-datetimepicker-widget .table td,
.card.bg-gradient-success .bootstrap-datetimepicker-widget .table th {
  border: none;
}

.card.bg-success .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.second:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.second:hover {
  background-color: #208637;
  color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget table td.today::before,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget table td.active,
.card.bg-success .bootstrap-datetimepicker-widget table td.active:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.active,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #34ce57;
  color: #fff;
}

.bg-success > .card-header .btn-tool,
.bg-gradient-success > .card-header .btn-tool,
.card-success:not(.card-outline) > .card-header .btn-tool {
  color: rgba(255, 255, 255, 0.8);
}

.bg-success > .card-header .btn-tool:hover,
.bg-gradient-success > .card-header .btn-tool:hover,
.card-success:not(.card-outline) > .card-header .btn-tool:hover {
  color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget .table td,
.card.bg-success .bootstrap-datetimepicker-widget .table th,
.card.bg-gradient-success .bootstrap-datetimepicker-widget .table td,
.card.bg-gradient-success .bootstrap-datetimepicker-widget .table th {
  border: none;
}

.card.bg-success .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-success .bootstrap-datetimepicker-widget table td.second:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.second:hover {
  background-color: #208637;
  color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget table td.today::before,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: #fff;
}

.card.bg-success .bootstrap-datetimepicker-widget table td.active,
.card.bg-success .bootstrap-datetimepicker-widget table td.active:hover,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.active,
.card.bg-gradient-success .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #34ce57;
  color: #fff;
}