.templateDetails{
    padding-left: 40px;
    font-size: 12px;
    font-weight: 100;
    color: gray;
}

.v-chip {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 12px; /* Adjust the border-radius to control the roundness */
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.templateItem {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Align items vertically in the center */
}

.brown-link {
    color: rgb(64, 31, 1);
}